@font-face {
  font-family: 'UberMove';
  src: url('../fonts/UberMove-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'UberMove';
  src: url('../fonts/UberMove-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'UberMove';
  src: url('../fonts/UberMove-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'UberMove';
  src: url('../fonts/UberMove-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'UberMoveText';
  src: url('../fonts/UberMoveText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'UberMoveText';
  src: url('../fonts/UberMoveText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'UberMoveText';
  src: url('../fonts/UberMoveText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'UberMoveText';
  src: url('../fonts/UberMoveText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
    font-family: 'UberMoveText', sans-serif;
}

body {
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: left;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 250px 250px 250px 250px 100px;
  gap: 15px;
  max-width: 1500px;
  margin-inline: auto;
  cursor: url("../img/car.png"), auto;
}
#cards .card {
  width: auto;
  min-height: 420px;
  min-width: 280px;
  border-radius: 10px;
  overflow: hidden;
  flex: 1;
}
#cards .card .cardContent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari */
  background-color: #ffffff62;
}
#cards .card .cardContent .bottom {
  padding: 15px;
  width: 100%;
  justify-self: end;
  padding: -30px;
  background-color: black;
}
#cards .card .cardContent .bottom p {
  font-size: 8px;
  color: white;
}
#cards .card .cardContent .inside {
  padding: 15px;
}
#cards .card .cardContent h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  line-height: 70px;
  line-height: 50px;
}
#cards .card .cardContent h4 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
}
#cards .card .cardContent p {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}

#snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}